<%= form_for(@node) do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :action_desc, "What do you do? (briefly)" %><br />
    <%= f.text_field :action_desc %>
  </div>

  <div class="field">
    <%= f.label :body, "Describe the result" %><br />
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :title, "Now give the new node a title" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.hidden_field :parent_id, :value => @parent_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
