<p id="notice"><%= notice %></p>

<div id="node">
  <span class="node_body"><%= @node.body %></span><br />
  <div id="children">
    <% unless @node.children.empty? then %>
      <% @node.children.each do |child| %>
        <%= link_to child.action_desc, child, :class => "child_link" %> |
      <% end %>
    <% end %>
    <%= link_to add_action_link_text(@node.children.length),
        new_node_path(:parent_id => @node.id) %><br />
    <%= link_to 'Edit this node', edit_node_path(@node) %> |
    <%= link_to 'Go back', @node.parent %>
  </div>

</div>
